h1 Welcome to DIDID

.add-task
  input(type='text', name='new-item-title', id='new-item-title')
  button Add Task

ul.list-group
  each todo in todos
    li.list-group-item
      input(type='checkbox', data-id=`${todo.id}`, checked=todo.complete)
      span.checkbox(data-id=`${todo.id}`, data-complete=`${todo.complete}`, style="padding: 8px")
        if( todo.complete )
          | ✔️
        else
          | 😑

      span
        span.title(data-id=`${todo.id}`)= todo.title

      .btn-group.btn-group-xs(role='group')
        button.btn.btn-default(type='button', class='up', data-id=`${todo.id}`)
          span.glyphicon.glyphicon-arrow-up(aria-hidden='true')
        button.btn.btn-default(type='button', class='down', data-id=`${todo.id}`)
          span.glyphicon.glyphicon-arrow-down(aria-hidden='true')
        button.btn.btn-danger(type='button', class='delete', data-id=`${todo.id}`) 
          span.glyphicon.glyphicon-ban-circle(aria-hidden='true')

.legend
  div
  | Edit
  div
  | Delete
  div
  | Add
